<div class="card">
    <p-table [value]="result" responsiveLayout="scroll" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="orderNumber">Order Number <p-sortIcon field="orderNumber"></p-sortIcon></th>
                <th pSortableColumn="customerName">Customer Name <p-sortIcon field="customerName"></p-sortIcon></th>
                <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                <th pSortableColumn="totalPrice">Total <p-sortIcon field="totalPrice"></p-sortIcon></th>
                <!-- <th style="width:4em"></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{order.orderNumber}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.totalPrice | currency:'USD':'symbol'}}</td>
                <!-- <td>
                    <button type="button" pButton (click)="selectOrder(order)">Close</button>
                </td> -->
            </tr>
        </ng-template>
    </p-table>
</div>
<br/>
<div class="card">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                    Product Remarks: 
                </label>
                <div class="p-col-12 p-md-10">
                    <textarea pInputTextarea type="text" formControlName="remarks"></textarea>
                    <div *ngIf="myForm.get('remarks')?.invalid && (myForm.get('remarks')?.dirty || myForm.get('remarks')?.touched)"
                        style="color: red;">
                        Please provide a remarks.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button pButton type="submit" label="Update" 
                    [disabled]="!myForm.get('remarks')?.touched || 
                        (myForm.get('remarks')?.invalid && (myForm.get('remarks')?.dirty || myForm.get('remarks')?.touched))">
                </button>
            </div>
        </div>
    </form>
</div>
