<p-toast [style]="{marginTop: '5px'}"></p-toast>

<p-table #dt [value]="products" dataKey="id" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['name','price','category','status']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            List of Products
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="price"style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Price
                    <p-sortIcon field="price"></p-sortIcon>
                    <p-columnFilter type="numeric" field="price" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="category" style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Category
                    <p-sortIcon field="category"></p-sortIcon>
                    <p-columnFilter type="text" field="category" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="status" style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="remarks" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                  Remarks
                  <p-sortIcon field="remarks"></p-sortIcon>
                  <p-columnFilter type="text" field="remarks" display="menu" class="ml-auto"></p-columnFilter>
              </div>
          </th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <span class="p-column-title">Name</span>
                {{product.name}}
            </td>
            <td>
                <span class="p-column-title">Price</span>
                {{product.price | currency:'USD':'symbol'}}
            </td>
            <td>
                <span class="p-column-title">Category</span>
                {{product.category}}
            </td>
            <td>
                <span class="p-column-title">Status</span>
                {{product.status}}
            </td>
            <td>
              <span class="p-column-title">Remarks</span>
              {{product.remarks}}
          </td>
            <td style="text-align: center">
                <button pButton type="button" class="p-button-secondary" (click)="show(product.id)">Import</button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No products found.</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Out of Stock" [(visible)]="display" [modal]="true" [dismissableMask]="true">
  The selected item is out of stock.
</p-dialog>